<template>
        <div class="backdrop" if:true={showSpinner}>
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
        <header class="slds-modal__header">
            <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Send Notification to Users</h2>
        </header>
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
            <div class="slds-m-around_medium slds-grid slds-gutters slds-wrap">
                <div class="slds-form slds-col slds-size_1-of-1 slds-large-size_12-of-12">
                    <lightning-input type="text" name="title"
									label="Title" onchange={handleInputChange}
									pattern=".*\S+.*"
									message-when-pattern-mismatch="Field Required" required={isRequired}>
					</lightning-input>
                </div>
                <div class="slds-form slds-col slds-size_1-of-1 slds-large-size_12-of-12">
                    <lightning-textarea name="body" onchange={handleInputChange}
					    label="Body" required={isRequired}>
				    </lightning-textarea>
                </div>
            </div>
        </div>
        <footer class="slds-modal__footer">
            <button class="slds-button slds-button_neutral" onclick={closeAction}>Cancel</button>
            <button class="slds-button slds-button_brand" onclick={sendNotification}>
                Send
            </button>
        </footer>
</template>